@import "tailwindcss";
@font-face {
  font-family: kalameh;
  font-size: 128px;
  src: url("/fonts/kalameh.ttf");
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}
* {
  direction: rtl;
  font-family: kalameh !important;
}
::selection {
  background-color: var(--color-primary-main);
  color: black;
}
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-50: oklch(97.001% 0.04168 92.208);
  --color-primary-100: oklch(94.996% 0.07026 92.402);
  --color-primary-200: oklch(93.082% 0.09722 92.393);
  --color-primary-300: oklch(91.211% 0.12544 92.716);
  --color-primary-400: oklch(89.203% 0.15355 92.583);
  --color-primary-500: oklch(87.218% 0.17688 92.432);
  --color-primary-600: oklch(74.01% 0.15145 92.842);
  --color-primary-700: oklch(56.188% 0.11492 92.299);
  --color-primary-800: oklch(37.513% 0.07668 91.482);
  --color-primary-900: oklch(20.853% 0.04264 91.867);
  --color-primary-main: oklch(87.22% 0.177 92.46);
  --color-secondary-50: var(--color-indigo-50);
  --color-secondary-100: var(--color-indigo-100);
  --color-secondary-200: var(--color-indigo-200);
  --color-secondary-300: var(--color-indigo-300);
  --color-secondary-400: var(--color-indigo-400);
  --color-secondary-500: var(--color-indigo-500);
  --color-secondary-600: var(--color-indigo-600);
  --color-secondary-700: var(--color-indigo-700);
  --color-secondary-800: var(--color-indigo-800);
  --color-secondary-900: var(--color-indigo-900);
  --color-secondary-main: var(--color-indigo-500);
  --font-kalameh: kalameh;
}
.scrollbar-none {
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
body:has(.modal) {
  overflow: hidden;
}
body:has(.mobile-nav) {
  overflow: hidden;
}
button {
  cursor: pointer;
}
body:has(.body-gray) {
  background-color: var(--color-gray-100);
}
.form-input {
  @apply w-full border border-gray-300 rounded px-4 py-2 focus:outline-none focus:ring-2 focus:ring-primary-main;
}
.parser {
  & figure {
    @apply !max-w-full;
  }
  & img {
    @apply !max-w-full;
  }
}
.loading {
  @apply bg-gradient-to-r from-[#ccc] via-[#ddd] to-[#ccc] animate-pulse;
}
